<div class="jumbotron">
    <div class="container">
        <h1>Über Uns</h1>
    </div>
</div>

<div class="jumbo">
    <div class="right tomster"></div>
    <h2>Automatic Octo Enigma</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    {{#link-to 'index' class="button" }}
        Startseite
    {{/link-to}}
    <div class="list-group">
        <span class="list-group-item list-group-item-action flex-column align-items-start active">
            <div class="d-flex w-100 justify-content-between">
                <h3 class="mb-1">ember-cli addons</h3>
            </div>
        </span>
        <a href="https://www.npmjs.com/package/ember-font-awesome" class="list-group-item list-group-item-action flex-column align-items-start" target="_blank">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">ember-font-awesome</h5>
            </div>
            <small>https://www.npmjs.com/package/ember-font-awesome</small>
        </a>
        <a href="http://offirgolan.github.io/ember-light-table" class="list-group-item list-group-item-action flex-column align-items-start" target="_blank">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Ember Light Table</h5>
            </div>
            <small>http://offirgolan.github.io/ember-light-table</small>
        </a>
        <a href="http://ember-concurrency.com" class="list-group-item list-group-item-action flex-column align-items-start" target="_blank">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">ember-concurrency</h5>
            </div>
            <small>http://ember-concurrency.com</small>
        </a>
        <a href="https://www.npmjs.com/package/ember-math-helpers" class="list-group-item list-group-item-action flex-column align-items-start" target="_blank">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">ember-math-helpers</h5>
            </div>
            <small>https://www.npmjs.com/package/ember-math-helpers</small>
        </a>
        <a href="https://www.npmjs.com/package/ember-truth-helpers" class="list-group-item list-group-item-action flex-column align-items-start" target="_blank">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">ember-truth-helpers</h5>
            </div>
            <small>https://www.npmjs.com/package/ember-truth-helpers</small>
        </a>
        <a href="https://www.npmjs.com/package/ember-moment" class="list-group-item list-group-item-action flex-column align-items-start" target="_blank">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">ember-moment</h5>
            </div>
            <small>https://www.npmjs.com/package/ember-moment</small>
        </a>
    </div>
    <div class="list-group">
        <span class="list-group-item list-group-item-action flex-column align-items-start active">
            <div class="d-flex w-100 justify-content-between">
                <h3 class="mb-1">Hints</h3>
            </div>
        </span>
        <span class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h3 class="mb-1">Comments in Handlebars templates</h3>
            </div>
            <p>\{{! comment}}</p>
        </span>
    </div>
</div>
